<!DOCTYPE html>
<html>
  <head>
    <title>BIKER BYTE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../Static/style.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!--     <script type="module" src="../Static/searchTest.js"></script>-->
    <script type="module" src="../Static/index.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBqLJ1VO0sxQFYsdj4R0_5ArcCNBQdjJI&callback=initMap&v=weekly"
      defer
    ></script>
  </head>
  <body>
    <!--  adding nav bar-->
    <nav
      id="nav"
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: #e3f2fd"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            href="https://ibb.co/LxrXpB2"
            src="https://i.ibb.co/LxrXpB2/1111-removebg-preview.png"
            width="50"
            height="50"
          />
          Biker-byte
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link disabled"
                >Ride with ease, connect with the breeze - with BikerByte!</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- ------------------------------------------container---------------------------------------- -->
    <div class="container">
      <div id="map"></div>
      <div class="fixed-box">
        <div id="info01">
          <div id="weather-box">weather box</div>

          <nav id="search" class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input
                  id="search-input"
                  class="form-control me-2"
                  type="search"
                  placeholder="Search Station Name"
                  aria-label="Search"
                />
                <!--                  here-->
                <button
                  id="search-btn"
                  class="btn btn-outline-primary"
                  type="button"
                >
                  Search
                </button>
              </form>
            </div>
          </nav>
        </div>
        <br />
        <div id="info02">
          <br />
          <h6>Information Board</h6>
          <div class="col" id="info-box"></div>

          <table id="info-table" class="table table-hover"></table>
        </div>
      </div>
    </div>
    <!-- Add offcanvas div -->

    <!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  </body>
</html>
